@media all and (min-width: 1px) {
	.xs-100 {
		width: 100%;
	}
	.xs-order-1 {
		order: 1;
	}
	.xs-order-2 {
		order: 2;
	}
	.sertificate {
		margin-left: auto;
		margin-right: auto;
	}
	img {
		max-width: 300px;
		width: 100%;
	}
	.flex-wrapper--footer {
		padding-left: 0;
		padding-right: 0;
	}
	.header_img {
		display: none;
	}
	body {
		/* line-height: 23px; */
		font-size: 14px;
	}
}
@media all and (min-width: 768px) {
	.md-50 {
		width: 50%;
	}
	.md-order-1 {
		order: 1;
	}
	.md-order-2 {
		order: 2;
	}
	img {
		max-width: 100%;
	}
	.flex-wrapper--footer {
		padding-left: 10px;
		padding-right: 10px;
	}
	.header_img {
		display: block;
	}
	body {
		line-height: 23px;
		font-size: 16px;
	}
}
