/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

wrapper--header.tag {
	color: #c8b183; /* линия под названием сайта*/
	color: #2f7057; /* кнопка заказать*/

	color: #090a09; /* черный текст*/
	color: #2c382c; /* зеленый текст*/
	color: #2f7057; /* зеленый светлый текст*/
	color: #4d4d4d; /* серый текст темный*/
	color: #747474; /* серый текст светлый*/

	color: #2f7057; /* зеленый фон цены*/
	color: #0a0950; /* синий фон цены*/
	color: #863232; /* красный фон цены*/
}

/* font-family: 'Forum', cursive; */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h2, h3 {
	text-align: center;
	color: #090a09;
	font-family: serif, arial;
}
h2 {
	font-size: 29px;
	text-transform: uppercase;
}
h3 {
	font-size: 60px;
	margin: 13px auto 0 auto;
	padding-bottom: 16px;
	max-width: 1029px;
	border-bottom: 4px solid #c8b183;
}
img {
	max-width: 100%;
	width: 100%;
}
.tac {
	text-align: center;
}
.ttu {
	text-transform: uppercase;
}
.mauto {
	margin: auto;
}
.no-mt {
	margin-top: 0 !important;
}
html, body {
	background-color: #000000;
	font-family: "montserratregular", sans-serif;
}
.wrapper {
	padding: 0 45px;
	max-width: 1920px;
	margin: auto;
	background-color: transparent;

	position: relative;
	z-index: 10;
}
.wrapper--header {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #000000;
	background-image: url(../img/header_background.jpg);
	padding-bottom: 30px;
}
.wrapper--assorti {
	padding-top: 15px;
	margin-top: -30px;
}


.flex_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flex_wrapper > div {
	margin: 20px 0;
	position: relative;
}

.scroll_top_block {
	/* rgba(18, 18, 17, 0.8) */
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 40px;
  background-color: rgba(47, 112, 87, 0.7);
	height: 115px;
	transition: all .3s;
	z-index: 100;
	overflow: hidden;
	opacity: 0;

}

.scroll_top_block.show {
	opacity: 1;
}
.scroll_top_block.active {
	height: 280px;
	opacity: 1;
}
.icon--footer {
	display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: rgba(217, 217, 217, 0.17);
	position: relative;

}
.icon--scroll_block {
	display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(217, 217, 217, 0.39);
	position: relative;
	margin: 5px;

}
.icon--plus-minus:before {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
	width: 7px;
	height: 7px;
	background-image: url(../img/sprite_media.png);
	background-size: contain;
}
.up_icon, .hamburger {
	background: none;
}
.icon_small:before {
	content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  width: 20px;
  background-image: url(../img/sprite_media.png);
  background-size: 20px;
  height: 20px;
}
.icon:before {
	content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  width: 20px;
  background-image: url(../img/sprite_media.png);
  background-size: 20px;
  height: 20px;
}

.icon--1:before {
	background-position: 0 0;
}
.icon--2:before {
	background-position: 0 -20px;
}
.icon--3:before {
	background-position: 0 -40px;
}
.icon--4:before {
	background-position: 0 -60px;
}
.icon--5:before {
	background-position: 0 -80px;
}
.icon--6:before {
	background-position: 0 -100px;
}
.icon--7:before {
	background-position: 0 -120px;
}
.icon--8:before {
	background-position: 0 -140px;
}
.icon--9:before {
	background-position: 0 -160px;
}

@font-face {
    font-family: 'intro_regular';
    src: url('../font/intro-webfont.eot');
    src: url('../font/intro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/intro-webfont.woff2') format('woff2'),
         url('../font/intro-webfont.woff') format('woff'),
         url('../font/intro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.eot');
    src: url('../font/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font/montserrat-regular-webfont.woff') format('woff'),
         url('../font/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('../font/montserrat-light-webfont.eot');
    src: url('../font/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-light-webfont.woff2') format('woff2'),
         url('../font/montserrat-light-webfont.woff') format('woff'),
         url('../font/montserrat-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold';
    src: url('../font/montserrat-bold-webfont.eot');
    src: url('../font/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-bold-webfont.woff2') format('woff2'),
         url('../font/montserrat-bold-webfont.woff') format('woff'),
         url('../font/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.leaves_img1, .leaves_img2 {
	position: absolute;
}
.leaves_img1 {
	top: -10px;
	width: 340px;
	right: -250px;
}
.leaves_img2 {
  top: 400px;
  left: -165px;
  width: 300px;
  z-index: 50;
}


.header_block {
	padding: 55px 0 0 0;
	color: #ffffff;
}
.site_name {
	font-family: "times new roman", serif;
  font-size: 113px;
  padding-bottom: 13px;
  border-bottom: 4px solid #c8b183;
  width: 82%;
  margin: auto;
  color: #ffffff;
}
.site_name--footer {
	border-bottom: none;

}
.menu {
	margin-top: 10px;
	text-align: center;
}
.menu li {
	display: inline-block;
}
.menu li a {
	display: block;
	font-family: 'Comfortaa', cursive;
	text-decoration: none;
	width: 250px;
	font-size: 20px;
	line-height: 40px;
	color: #ffffff;
	text-transform: uppercase;
	border-bottom: 3px solid transparent;
	transition: all .3s;
}
.menu li a:hover {
	border-bottom: 3px solid #B8866B;
}
.logo_img_block {
	margin: 100px 0 0 0;
	text-align: center;
}
.logo_img_block img {
	display: block;
	margin: auto;
	width: 280px;
}
.book_button {
	display: block;
	margin: 118px auto 0 auto;
	background-color: rgba(153, 153, 153, 0.33);
	font-size: 18px;
	text-transform: uppercase;
	padding: 22px 0;
	width: 277px;
	color: #ffffff;
	border: none;
	border-radius: 12px;
	text-align: center;
	text-decoration: none;
	outline: none;
	transition: all .5s;
	font-family: "intro_regular";
}
.book_button:hover {
	background-color: #214f3d;
}
.scroll_button_block {
	margin: 24px 0;
}
.scroll_img_block {
	height: 37px;
	width: 25px;
	border: 2px solid #ffffff;
	border-radius: 20px;
	position: relative;
	margin: auto;
}
.scroll_img_block>div {
	width: 2px;
	height: 6px;
	border-radius: 100%;
	background-color: #ffffff;
	position: absolute;
	top: 8px;
	left: 50%;
	margin-left: -1px;
}
.scroll_button_block p {
	text-align: center;
	margin-top: 3px;
	font-size: 13px;
}
.scroll_button_block a {
	color: #ffffff;
	text-decoration: none;
}

.assorti_block, .advantages_block, .contact_block, .about_creator_block {
	background-color: #ffffff;
	margin-top: 50px;
	padding: 20px;
	position: relative;
}
.assorti_block {
	margin-top: 0px;
	z-index: 20;
}
.contact_block {
	padding: 0;
}
.about_creator_block:before {
	content: "";
	position: absolute;
	top: 0;
	left: -0;
	right: -0;
	bottom: 0;
	z-index: -50;
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
	display: block;
	transform: rotate(1deg);
}
.about_creator_block:after {
	content: "";
	position: absolute;
	top: 10px;
	left: -10px;
	right: -10px;
	bottom: 10px;
	z-index: -100;
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
	display: block;
	transform: rotate(1deg);
}
.assorti_block:before {
	content: "";
	position: absolute;
	top: 0;
	left: -0;
	right: -0;
	bottom: 0;
	z-index: -50;
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
	display: block;
	transform: rotate(1deg);
}
.assorti_block:after {
	content: "";
	position: absolute;
	top: 10px;
	left: -10px;
	right: -10px;
	bottom: 10px;
	z-index: -100;
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
	display: block;
	transform: rotate(1deg);
}

.assorti_header {
	margin-top: 7px;
}

.food_pack_img {
	box-shadow: 40px 25px 40px rgba(0, 0, 0, 0.32);
	max-width: 80%;

}
.assorti_block .flex_ img {
	width: 80%;
}


.food_type_name {
	font-family: montserratbold;
	font-size: 27px;
	margin: 35px auto 0 auto;
	padding: 0 0 8px 0;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	width: 100px;
	text-align: center;
}
.food_type_name--office {
	border-bottom-color: #2f7057;
	color: #2f7057;
}
.food_type_name--bussines {
	border-bottom-color: #0a0950;
	color: #0a0950;
}
.food_type_name--sport {
	border-bottom-color: #863232;
	color: #863232;
}
.food_description {
	margin: 25px 0 0 0;
	font-size: 13px;
	line-height: 28px;
	min-height: 90px;
}
.food_cost {
	display: block;
	margin: auto;
	text-decoration: none;
	font-size: 16px;
	color: #ffffff;
	border-radius: 9px;
	text-align: center;
	width: 110px;
	padding: 14px 0;
}
.food_cost--office {
	background-color: #2f7057;
}
.food_cost--bussines {
	background-color: #0a0950;
}
.food_cost--bussines-w {
}
.food_cost--sport {
	background-color: #863232;
	padding: 14px 0;
	width: 110px;
}
.food_cost--bucket {
	background-color: #7f7f7f;
  padding: 4px 0;
  width: 110px;
}

.about_creator_block {
	margin-top: 50px;
	padding-bottom: 70px;
}
.about_creator_header {
	margin-top: 60px;
}
.creator_name {
	font-size: 69px;
	font-family: serif, arial;
}
.creator_description_text {
	margin-top: 15px;
	line-height: 1.3;
	font-size: 20px;
	font-family: "times new roman", serif;
}
.creator_photo {
	float: left;
  margin: 9px 50px 50px 0;
	width: 100%;
	max-width: 350px;
	box-shadow: -6px 39px 45px #00000061;
	transform: rotate(3deg);
}


.advantages_block {
	margin-top: 53px;
	background-image: url(../img/advantages_bg.png);
	background-size: cover;
}
.advantages_creator_header {
	margin-top: 24px;
}
.advantages_text {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	margin-left: 10px;
	font-size: 19px;
}
.advantages_block img {
	max-width: 200px;

}
.advantages_block .flex_wrapper {
	align-items: center;
}
.flex_wrapper--advantages_block {
	margin: auto;
	max-width: 1200px;
}

.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}
.tabs__caption {
	max-width: 600px;
	margin: auto;
}
.tabs__caption div {
	text-align: center;
	font-size: 50px;
	font-family: "montserratbold";
	color: #2c382c;
	font-size: 42px;
	padding-bottom: 15px;
	margin: 20px 0;
	border-bottom: 3px solid transparent;
}
.tabs__caption div:hover {
	cursor: pointer;
}
.tabs__caption > div.active {
	border-bottom: 3px solid #b8866b;
}
.tabs__caption div:nth-child(1) {
	padding-right: 7px;
}
.tabs__caption div:nth-child(2) {
	padding-left: 7px;
}

.contact_block {
	margin-top: 45px;
	/* background-image: url(../img/map.jpg);
	background-size: cover;
	background-position: center center; */
	font-family: "montserratregular";
	color: #ffffff;
}
.contact_block p, .contact_block h2, .contact_block a {
	position: relative;
	z-index: 100;
}

.contact_block iframe {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;

}
.contact_block
.contact_header {
	font-family: 'montserratregular';
	margin-top: 109px;
	font-size: 25px;
	text-transform: none;
  color: #ffffff;
}
.contact_text_block {
	padding: 1px 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 100;
	transition: all .5s;
}
.contact_text_block--innactive {
	opacity: 0;
}
.telephone {
	font-size: 64px;
  margin-top: 98px;
  font-family: "montserratbold";
}
.telephone--contact {

}
.address {
	margin-top: 80px;
	font-size: 20px;
  font-family: 'montserratbold';
}
.address2 {
	margin-top: 30px;
	font-size: 20px;
	  font-family: 'montserratbold';
}


.map_link {
	margin: 87px 0 93px 0;
	font-size: 17px;
	color: inherit;
	text-decoration: none;
	position: relative;
	display: block;
	font-family: "montserratbold";
}
.map_link:after {
	content: "";
	width: 200px;
	height: 2px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -100px;
	background-color: #ffffff;

}

.footer_block {
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer_block {
	position: relative;
}

.telephone--footer {
	margin-top: 0px;
}
.address--footer {
	margin-top: 35px;
}
.address--footer2 {
	margin-top: 27px;
}
/* .address--footer {
	margin-top: 0;
} */
.media_link_block > div {
	padding: 0;
}
.media_link_block {
	max-width: 320px;
	margin: auto;
}



.remodal__header {
  font-size: 24px;
	font-family: "intro_regular";
	text-transform: none;
}
.remodal__input-desc-text {
	text-align: left;
	margin-bottom: 10px;
	margin-top: 20px;
	font-family: "montserratbold";
}
.remodal__phoneform, .remodal__nameform, .remodal__messageform,
.remodal__textarea {
  font-size: 14px;
  padding: 15px 5px 15px 10px;
  border-radius: 10px;
	background-color: #eef0f5;
	border: 1px solid #d5d7db;
	display: block;
	width: 100%;
}
.remodal__phoneform:focus, .remodal__nameform:focus, .remodal__messageform:focus,
.remodal__textarea:focus {
  border: 1px solid #4849e2;
  border-radius: 10px;
  outline: none;
}
textarea {
	height: 138px;
}


.remodal__btn {
  margin: 20px auto 0 auto;
  width: 80%;
	font-family: "intro_regular";
	display: block;
  font-size: 16px;
	text-align: center;
	color: #ffffff;
  padding: 15px 0;
  background: #4849e2;
  border-radius: 10px;
	border:none;
	outline: none;
}


.book_number_block {
	background-color: #e2e2f0;
  padding: 4px 0 4px 2px;
  width: 104px;
  margin: 0 0 10px 10px;
  border-radius: 3px;
}
.book_number_block:after {
	content: "";
	display: block;
	clear: both;
}

.minus, .plus, .number {
	width: 25px;
	border-radius: 3px;
	height: 25px;
	background-color: #3fdfa9;
	float: left;
	margin: 0 3px 0 3px;
	position: relative;
}
/* .minus:after, .plus:after {
	text-align: center;
	font-size: 34px;
	color: #ffffff;
} */
/* .minus:after {
	content: "-";
	position: absolute;
	top: 0;
	left: 6px;
} */
/* .plus:after {
	content: "+";
	position: absolute;
	margin-top: -2px;
	width: 100%;
	left: 0px;
	height: 100%;
} */
/* .minus {
	line-height: 25px;
} */
.number {
	line-height: 28px;
	font-size: 26px;
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
}

.book_food_text {
	margin-left: 10px;
	text-align: left;
	font-size: 15px;
	min-height: 83px;
}
.add_food_header {
	font-size: 25px;
	font-family: "montserratbold";
}



@media all and (max-width: 1920px) {
	.wrapper {
		overflow-x: hidden;
		max-width: 1920px;
	}
}
@media all and (max-width: 1800px) {
	.wrapper {
		overflow-x: hidden;
		max-width: 1800px;
	}
}
@media all and (max-width: 1680px) {
	.wrapper {
		overflow-x: hidden;
		max-width: 1680px;
	}
}
@media all and (max-width: 1200px) {
	.wrapper {
		overflow-x: hidden;
		max-width: 1200px;
	}
	.menu li a {
		width: 180px;
	}
	.logo_img_block img {
		width: 200px;
	}
	h2 {
		font-size: 19px;
	}
	h3 {
		font-size: 34px;
	}
	.food_cost--bussines-w {
		margin-top: 35px;
	}

	.about_creator_header {
		margin-top: 30px;
		margin-bottom: 30px;
	}



	.telephone--footer {
		display: none;
	}
	.address--footer {
		display: none;
	}
	.address--footer2 {
		display: none;
	}
	.about_creator_block .flex_wrapper>div:nth-child(1) {
		width: 40%;
	}
	.about_creator_block .flex_wrapper>div:nth-child(2) {
		width: 60%;
	}


}
@media all and (max-width: 992px) {
	.wrapper {
		overflow-x: hidden;
		max-width: 992px;
	}
	.header_block {
    padding: 20px 0 0 0;
	}
	.site_name {
		font-size: 95px;
	}
	.logo_img_block {
		margin: 30px 0 0 0;
	}
	.book_button {
    margin: 20px auto 0 auto;
	}
	.logo_img_block img {
		width: 140px;
	}



	.creator_name {
		text-align: center;
		font-size: 50px;
	}
	.creator_description_text {
		margin-top: 28px;
		line-height: 30px;
		font-size: 18px;
	}
	.advantages_block .flex_wrapper img {
		max-width: 120px;
	}
	.about_creator_block .flex_wrapper>div:nth-child(1) {
		width: 100%;
	}
	.about_creator_block .flex_wrapper>div:nth-child(2) {
		width: 100%;
	}

}
@media all and (max-width: 768px) {
	.wrapper {
		padding: 0 20px 30px 20px;
		overflow-x: hidden;
		max-width: 768px;
	}
	.header_block {
		padding: 15px 0 0 0;
	}
	.site_name {
		width: 100%;
		font-size: 83px;
    padding-bottom: 3px;
	}
	.menu li a {
		width: 250px;
	}
	.logo_img_block {
		margin: 5px 0 0 0;
	}
	.contact_header {
		margin-top: 39px;
	}
	.telephone {
		margin-top: 38px;
	}
	.address, .address2 {
		margin-top: 30px;
	}
	.map_link {
		margin: 47px 0 73px 0;
	}
	.telephone {
		font-size: 45px;
	}

	.about_creator_block:before {
		content: "";
		position: absolute;
		top: 0;
		left: -0;
		right: -0;
		bottom: 0;
		z-index: -50;
		background-color: #ffffff;
		border: 1px solid #f2f2f2;
		display: block;
		transform: rotate(0.3deg);
	}
	.about_creator_block:after {
		content: "";
		position: absolute;
		top: 10px;
		left: -10px;
		right: -10px;
		bottom: 10px;
		z-index: -100;
		background-color: #ffffff;
		border: 1px solid #f2f2f2;
		display: block;
		transform: rotate(0.3deg);
	}
	.assorti_block:before {
		content: "";
		position: absolute;
		top: 0;
		left: -0;
		right: -0;
		bottom: 0;
		z-index: -50;
		background-color: #ffffff;
		border: 1px solid #f2f2f2;
		display: block;
		transform: rotate(0.3deg);
	}
	.assorti_block:after {
		content: "";
		position: absolute;
		top: 10px;
		left: -10px;
		right: -10px;
		bottom: 10px;
		z-index: -100;
		background-color: #ffffff;
		border: 1px solid #f2f2f2;
		display: block;
		transform: rotate(0.3deg);
	}
	.creator_photo {
		float: none;
		display: block;
		margin: 20px auto 50px auto;
	}
	.creator_name {
		margin-top: 40px;
	}
	.food_pack_img {
		max-width: 220px;
	}
	.remodal-wrapper .flex_wrapper > div {
		margin: 10px 0;
	}
	.flex_wrapper--advantages_block > div {
		margin: 0;
	}
	.book_food_text {
		min-height: 35px;
	}
	.food_cost--bucket {
		padding: 12px 0;
	}


}

@media all and (max-width: 768px) {
	.xs-100 {
		width: 100%;
	}
	.xs-20 {
		width: 20%;
	}
	.xs-80 {
		width: 80%;
	}
	.xs-50 {
		width: 50%;
	}
	.xs-4-in-row {
		width: 24%;
	}
	.book_number_block {
		margin: 20px auto;
	}
	.add_food_header {
		margin: 30px 0;
	}
	.book_pic {
		max-width: 220px;
	}
	.book_food_text {
		margin-bottom: 20px;
	}
	.food_description {
		min-height: 70px;
	}
}


@media all and (max-width: 576px) {

	.site_name {
		font-size: 53px;
		padding-bottom: 3px;
	}
	.menu li a {
		font-size: 20px;
		width: 250px;
		line-height: 30px;
	}

	.leaves_img1, .leaves_img2 {
		display: none;
	}
	.contact_block {
		/* padding: 10px; */
	}
	.telephone {
		font-size: 31px;
	}
	.advantages_text {
		font-size: 13px;
	}
	.tabs__caption div {
		font-size: 19px;
	}





}


@media all and (min-width: 768px) {
	.md-100 {
		width: 100%;
	}
	.md-80 {
		width: 80%;
	}
	.md-3-in-row {
		width: 33%;
	}
	.md-60 {
		width: 60%;
	}
	.md-50 {
		width: 49%;
	}
	.md-45 {
		width: 45%;
	}
	.md-40 {
		width: 40%;
	}
	.md-20 {
		width: 20%;
	}
	.md-55 {
		width: 55%;
	}
	.md-4-in-row {
		width: 24%;
	}


}
