@media all and (min-width: 0px) {
  .xs-100 {
    width: 100%;
  }
  .xs-50 {
    width: 50%;
  }
  .services-page-html {
    /* height: 2000px; */
  }
  .hidden-xs {
    display: none !important;
  }
  .branding-page-html .wrapper {
    padding: 0 10px;
  }
  .design-page-body {

  }
  .desing-text p {
    font-size: 2.5em;
  }
  .design_images_block {
    display: block;
  }

}
@media all and (min-width: 900px) {
  .md-3-in-row {
    width: 32%;
  }
  .md-10 {
    width: 10%;
  }
  .md-20 {
    width: 20%;
  }
  .md-25 {
    width: 25%;
  }
  .md-30 {
    width: 30%;
  }
  .md-40 {
    width: 40%;
  }
  .md-60 {
    width: 60%;
  }
  .md-100 {
    width: 100%;
  }
  .services-page-html {
    height: 100%;
  }
  .hidden-xs {
    display: block !important;
  }

  .desing-text p {
    font-size: 4em;

  }
  .design_images_block {
    display: block;
  }

}
@media all and (max-width: 601px) {
  .main-page-html {
    background-size: 600px, cover;
  }

}
@media all and (max-width: 900px) {
  .list_of_sevices li {
    margin: 27px 0;
  }
  .design_images_block img:nth-child(1) {
    top: 0;
    left: 30%;
    margin-left: 0px;
    width: 70px;
  }
  .design_images_block img:nth-child(2) {
    top: 353px;
    left: 22%;
    width: 132px;
  }
  .design_images_block img:nth-child(3) {
    top: 139px;
    left: 16%;
    width: 156px;
  }
  .design_images_block img:nth-child(4) {
    left: 23%;
    top: 233px;
    width: 125px;
  }
  .design_images_block img:nth-child(5) {
    display: none;
  }
  .design-page-html {
    background-position: top -90px left 0px,top -190px left 110px,top -30px left 190px,top -90px left 318px,top -190px left 430px,top -130px left 558px,top -130px left 1185px,top -30px left 1384px;
    background-size: 140px;
  }
  .desing-text p:first-child {
    margin-top: 200px;
  }
}
@media all and (max-width: 949px) {
  body {
    padding-top: 0;
  }
  .menu_list--left {
    float: none;
  }
  .menu_list--right {
    float: none;
  }
  .menu_list--left li, .menu_list--right li {
    float: none;
  }
  .menu_list--left a, .menu_list--right a {
    padding: 7px;
  }
  .text-right {
    float: none;
    margin: 20px auto;
    padding: 0 20px;
  }
  .main-page-body {
    background-position: bottom left -120px;
    background-size: 600px;
  }
  .our-services {
    justify-content: center;
    padding: 0;
  }
  .our-services > * {
    margin: 50px 0;
    max-width: 400px;
    padding: 0 30px;
  }
  .web-develop-block > * {
    margin: 10px;
  }

  #hamburger {
    display: block;
  }
  .menu {
    margin-top: -266px;
    position: fixed;
    z-index: 20;
    width: 100%;
    top: 0;
  }
  .menu--active {
    margin-top: 0;
  }
}
