html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
img {
  max-width: 100%;
}
body {
	line-height: 1.5;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 20px;
}
html {
  color: white;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
html, body{
  min-height: 100%;
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-wrapper > * {
  margin: 10px 0;
}

/* .main-page-html {
  background: linear-gradient(to right, #FF7FCD, #E79589);
  background-repeat: no-repeat;
} */
.main-page-html {
	background-image: url(../img/Ресурс_14@2x.png), linear-gradient(to right, #FF7FCD, #E79589);
	background-repeat: no-repeat, no-repeat;
	background-position: bottom 0px left -210px, center center;
	background-size: 800px, cover;
}
.design-page-body {
	background-image: url(../img/Ресурс_22@2x.png), url(../img/Ресурс_23@2x.png), url(../img/Ресурс_24@2x.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: top left, right 0px top 1000px, left 0 top 1000px;
	background-size: 1100px, 400px, 700px;
	height: 1800px;
}

.services-page-html {
  background: linear-gradient(to bottom, #039B94 0px, #039B94 100px, #004143 100px, #004143 105px, #028683 105px, #028683 205px, #004143 205px, #004143 210px, #006B6B 210px, #006B6B 315px, #004143 315px, #004143 320px, #006B6B 320px, #006B6B 5000px);
  background-repeat: no-repeat;
}
.web-develop-page-html {
	background: #ADC6F3;
}
.branding-page-html {
	color: #ffffff;
}
.design-page-html {
	background: #6DC1A9;
}
.menu {
  margin: 0 auto;
  border-bottom: 3px solid #8726D3;
}
.menu_list--left {
  float: left;
}
.menu_list--left li, .menu_list--right li {
  float: left;
}
.menu_list--left a, .menu_list--right a {
  padding: 15px 40px 15px 10px;
  display: block;
  background: #FF508F;
  transition: all .5s;
  color: inherit;
  text-decoration: none;
}
.main-page-html .active-menu-link {
  background: #D84582;
}
.services-page-html .active-menu-link {
  background: #004143;
}
.web-develop-page-html .active-menu-link {
	background: #606096;
}
.branding-page-html .active-menu-link {
	background: #3B7F7B;
}
.design-page-html .active-menu-link {
	background: #00A99D;
}
.menu_list--left a:hover, .menu_list--right a:hover {
  background: #D84582;
}
.menu_list--right {
  float: right;
}
.text-right {
  float: right;
  margin: 200px 10px 200px 10px;
  max-width: 500px;
  line-height: 1.5;
  position: relative;
  z-index: 10;
}
.text-right p:nth-child(1) {
  font-size: 3em;
  font-weight: bold;
  text-align: left;
}
.text-right p:nth-child(2) {
  font-size: 1.2em;
  margin: 10px 0;
}



.our-services {
  margin: 60px 0;
  padding: 0 20px;
}
.our-services > * {
  padding: 0 60px;
  position: relative;
}
.our-services img {
  display: block;
  margin: 0 auto 10px 0;
}
.our-services-header-p{
  text-align: center;
  margin: 10px 0;
  font-size: 1.5em;
}
.our-services-desc-p{
  text-align: justify;
  line-height: 1.4;
}
.our-services a{
  display: block;
  position: absolute;
  bottom: -60px;
  left: 50%;
  margin-left: -99px;
  color: inherit;
  text-decoration: none;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  border: 1px solid grey;
}

.web-develop-block {
	margin: 50px auto 0 auto;
	max-width: 1000px;

}
.web-develop-block img{
	width: 500px;
	display: block;
}
.web-develop-block p {
	font-size: 1.5em;
	line-height: 1.5;
}

.branding-logo {
	margin-top: 50px;
}
.branding-logo img{
	width: 700px;
	margin: 0 auto;
	display: block;
}
.branding-ruler {
	margin-top: 50px;
}
.branding-ruler img{
	width: 1000px;
	margin: 0 auto;
	display: block;
}
.branging-text {
	margin-top: 50px;
	margin: 50px auto 0 auto;
	max-width: 1000px;
	align-items: center;
}
.branging-text p{
	color: black;
	font-size: 1.5em;
	line-height: 1.5;
}
.branging-text img {
	display: block;
	height: 350px;
	margin: 0 auto;
}
.branging-text > div {
	padding: 20px;
}
.how-we-work {
	max-width: 1000px;
	margin: 50px auto 0 auto;
}
.how-we-work--text-blocks {
	max-width: 1000px;
	margin: 20px auto 0 auto;
}
.how-we-work--text-blocks > div {
	padding: 20px;
}
.how-we-work--text-blocks > div > p:nth-child(1) {
	margin-bottom: 10px;
	font-weight: bold;
}
.how-we-work--text-blocks > div > p:nth-child(2) {
	color: black;
}
.how-we-work--text-blocks > div:nth-child(1) > p:nth-child(1) {
	color: #7DE314;
}
.how-we-work--text-blocks > div:nth-child(2) > p:nth-child(1) {
	color: #01CC9B;
}
.how-we-work--text-blocks > div:nth-child(3) > p:nth-child(1) {
	color: #14A0C0;
}
.how-we-work--text-blocks > div:nth-child(4) > p:nth-child(1) {
	color: #5059AB;
}
.how-we-work--text-blocks > div:nth-child(5) > p:nth-child(1) {
	color: #09909F;
}
.rainbow-line {
	margin: 20px auto 20px auto;
	max-width: 1000px;
}
.rainbow-line img{
	width: 500px;
}

.desing-text {
	margin-top: 50px;
}
.desing-text p {
	margin: 10px 10px 0 0;
	font-size: 4em;
	font-weight: bold;
	text-align: right;
}
