@media (max-width:480px) {
  .menu .menu__button, .menu__nav {
    display: none;
  }
  .menu-480 {
    display: none;
  }
  .menu__img {
    padding: 50px 20px;
  }
  .main-prop {
    width: auto;
    margin: 0;
  }
  .footer__item--logo {
    display: none;
  }
  .footer__rights, .footer__policy {
    display: block;
    float: none;
  }
}
@media (max-width:600px) {
  footer {
    padding: 30px 20px;
  }

}
@media (min-width:481px) {
  .menu-480 {
    display: none;
  }
  .menubtn480 {
    display: none;
  }
}



@media (min-width:960px) {
  .exc-acces {
    /*padding: 60px 0;
    height: 750px;
    background: url(../img/chairs.png) bottom center no-repeat white;*/
    background-size: 80%;

  }

}
