* {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'segoe ui light';
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: #d1d1d1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/*HEADER*/
header {
  height: 500px;
  overflow: hidden;
}
    .menu {
      padding: 10px 0;
      line-height: 30px;
      position: relative;
      height: 50px;
      background: #2544a0;

    }
        .menu__logo {
          color: white;
          float: left;
          margin-left: 20px;
        }
        .menu__nav a {
          float: right;
          color: white;
          padding: 0 10px;
        }
        .menu__nav a:hover {
          color: #c9c9c9;
        }
        .menu__button {
          float: right;
          height: 30px;
          width: 100px;
          border-radius: 5px;
          background: #4894f9;
          text-align: center;
          margin: 0px 50px 0px 20px;
          color: white;
        }
        .menu__button:hover {
          background: #1944fe;
        }

        .menu__img {
          width: 100%;
          height: 90%;
          padding: 50px 0;
          background: url(../img/sky.jpg) #6ba1ff;
          background-size: cover;
        }

    .menubtn480 {
      width: 30px;
      height: 30px;
      float: right;
      margin-right: 50px;
      background: url(../img/menubtn480.svg);
      background-size: 100%;
      transition: all 1s;
    }
    .a-menubtn480 {
      transform: rotate(360deg);
    }
    .menu-480 {
      position: absolute;
      top: 50px;
      right: 50px;
      display: block;
    }
      .menu-480__link {
        text-align: center;
        display: block;
        width: 100px;
        margin-bottom: 1px;
        background: #FFEB3B;
        padding: 5px;
      }




    .main-prop {
      width: 350px;
      height: 100%;
      padding: 30px;
      background: rgba(80, 80, 80, 0.8);
      margin-left: 10%;
    }
        .main-prop__header {
          font-size: 13px;
          color: #4b7bf6;
        }
        .main-prop__main-text {
          margin-top: 20px;
          font-size: 40px;
          line-height: 50px;
          color: white;
        }
        .menu__button--mainprop {
          float: left;
          line-height: 30px;
          margin: 20px 0 0 0;
        }


.description {
  padding: 60px 0;
  background: white;
}
.description p,
.description h2, .description h1 {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}
    .description__first-header {
      text-transform: uppercase;
      color: #84888f;
      margin-bottom: 10px;

    }
    .description__second-header {
      color: #25abd3;
      font-size: 30px;
      margin-bottom: 10px;
    }
    .description__main-text {
      color: #84888f;
      line-height: 25px;
      /*font-size: 30px;*/
    }

.experience {
  padding: 60px 0;
  background: #fafafa;
  text-align: center;
}
.experience p,
.experience h1, .experience h2 {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}
.experience .description__main-text {
  margin-bottom: 10px;
}
.experience__item {
  /*float: left;*/
  display: inline-block;
  height: 200px;
  width: 300px;
  margin: 30px 10px;
}
.experience__item *{
  text-align: center;
}
.experience__item p {
  width: auto;
}
.experience__img {
  margin: 0 auto;
  width: 75px;
  height: 75px;
  background: url(../img/sprite.png) no-repeat;
}
.experience__img1 {
  background-position: 9px 0px;
}
.experience__img2 {
  background-position: -73px 0px;

}
.experience__img3 {
  background-position: -157px 0px;

}
.experience__img4 {
  background-position: -243px 0px;

}

.item__header-text {
  color: #4c5159;
  margin: 30px 0px 10px 0px;
}
.item__main-text {
  color: #a7abaf;
  line-height: 25px;
}


.exc-acces {
  /*background: white;*/
  padding: 60px 0;
  height: 750px;
  background: url(../img/chairs.png) bottom center no-repeat white;
  background-size: 100%;

}
.exc-acces p,
.exc-acces h2, .exc-acces h1 {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}


.book p,
.book h2, .book h1 {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}
.book {
  background: #1e3043;
  padding: 80px 0px;
}
.book__header {
  color: white;
}
.book__main-text {
  margin: 30px 0px;
  color: #9da1a6;

}
.menu__button--book-btn {
  float: none;
  position: relative;
  display: block;
  width: 170px;
  text-align: left;
  padding-left: 10px;
  margin-left: 0;
  line-height: 27px;
  background: #25abd3;
  margin: 0 auto;
}
.menu__button--book-btn:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: url(../img/strikeh.svg) center center  no-repeat ;
  background-size: 100%;

}




footer {
  padding: 30px 50px;
  background: #16171a;
  text-align: center;
}
/*.footer__item-wrapper {
  margin: 0 auto;
  width: auto;
}*/
	.footer__item {
		float: left;
		height: 300px;
		width: 25%;
	}
	.footer__logo {
		margin: 20px 0;
		color: white;
	}
	.footer__link {
		display: block;
		margin: 20px 0;
		color: #d1d1d1;

	}
	.footer__link:hover {
		color: #ffffff;

	}
	.footer__link--pl {
		padding-left: 30px;
	}

	.footer__rights {
		float: left;
		color: #555555;
	}
	.footer__policy {
		float: right;
		color: #555555;
	}
